@model FlipCardGame.DAL.Games

@{
    ViewBag.Title = "Play";
}

<h2>@Model.Title</h2>


@{
    int rows = 6; // (int)Math.Sqrt(Model.CardsCount);
    int cardIndex = 0;

    var itemWidth = (100 / rows).ToString() + "%";
    var itemHeight = "200px";

    var totalHeight = rows * 200;
}

<table width="100%" height="@totalHeight">
    @for (int i = 0; i < rows; i++) {
    <tr>
        @for (int j = 0; j < rows; j++) {
            // FlipCardGame.DAL.GameQuestions currentCard = Model.GameQuestions.ToArray()[cardIndex++];
        <td width="@itemWidth" height="@itemHeight">
            <div class="flip-container" onclick="this.classList.toggle('hover');"  width="@itemWidth" height="@itemHeight">
                <div class="flipper">
                    <div class="front" width="@itemWidth" height="@itemHeight">
                        Front : Html.Raw(currentCard.QuestionContent) [@cardIndex]  
                    </div>
                    <div class="back"  width="@itemWidth" height="@itemHeight">
                        Back : Html.Raw(currentCard.AnswerContent) [@cardIndex]
                    </div>
                </div>
            </div>
        </td>
        cardIndex++;
        }
    </tr>
    }
</table>